{% extends 'admin/base.html' %}

{% block head_css %}
{{ super() }}
 <link href="{{url_for('static', filename='lang/languages.min.css')}}" rel="stylesheet">
{% endblock %}

{% block access_control %}

    {% if current_user.is_authenticated() %}
    <div class="navbar-text pull-right">
    <div class='dropdown'>
    <a href="#" class="navbar-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="glyphicon glyphicon-user"></i>
        {% if current_user.first_name -%}
        {{ current_user.first_name }}
        {% else -%}
        {{ current_user.email }}
        {%- endif %}<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url_for('security.logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{_('Log Out')}}</a></li>
    </ul>
    </div>
    </div>
    {% endif %}

<div class="navbar-text pull-right">   
    <div class="dropdown"> 
    <a href="#" class="navbar-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="glyphicon glyphicon-globe"></i> {{_('Language')}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="?lang=en"><span class="lang-sm lang-lbl" lang="en"></span></a></li>
            <li><a href="?lang=ru"><span class="lang-sm lang-lbl" lang="ru"></span></a></li>
        </ul>    
    </div>
</div>

{% endblock %}